# Title & Objective

# Data Loading

# Data Overview & Variable Types

# EDA (4 variables + business interpretation)

# Feature Engineering (â‰¥4 engineered features)

# Train / Validation / Test strategy

# Model 1 (Algorithm + tuning + feature importance)

# Model 2 (Algorithm + tuning + feature importance)

# Model comparison

# Threshold optimization (business cost/benefit)

# Final test evaluation

# Conclusion

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

from sklearn.metrics import mean_squared_error, roc_auc_score, roc_curve, confusion_matrix

RANDOM_STATE = 42
pd.set_option("display.max_columns", 200)

In [2]:
train_path = "../data/lending_club_train.csv"
test_path  = "../data/lending_club_test.csv"

df_train = pd.read_csv(train_path)
df_test  = pd.read_csv(test_path)

df_train.shape, df_test.shape

((10129, 21), (2533, 21))

In [3]:
df_train.head()

,id,loan_amnt,term,int_rate,installment,grade,sub_grade,annual_inc,emp_length,home_ownership,verification_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,purpose,default
0,79044496,16000.0,60.0,12.99,363.97,C,C2,49000.0,5.0,RENT,Source Verified,15.94,0.0,0.0,9.0,0.0,26376.0,85.4,19.0,debt_consolidation,0
1,43246030,15150.0,36.0,10.99,495.92,B,B4,38000.0,8.0,MORTGAGE,Not Verified,39.96,1.0,1.0,10.0,0.0,19459.0,63.2,38.0,credit_card,0
2,641694,12800.0,60.0,14.83,303.38,D,D3,75000.0,0.0,RENT,Source Verified,12.43,0.0,0.0,12.0,0.0,8078.0,35.0,13.0,moving,0
3,70981628,6000.0,36.0,9.75,192.90,B,B3,70000.0,0.0,MORTGAGE,Verified,25.53,1.0,1.0,9.0,0.0,2048.0,39.4,16.0,debt_consolidation,0
4,57792301,15000.0,60.0,13.33,343.84,C,C3,96000.0,3.0,RENT,Source Verified,13.44,0.0,0.0,11.0,1.0,15979.0,53.3,36.0,debt_consolidation,0

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10129 entries, 0 to 10128
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10129 non-null  int64
 1   loan_amnt            10129 non-null  float64
 2   term                 10129 non-null  float64
 3   int_rate             10129 non-null  float64
 4   installment          10129 non-null  float64
 5   grade                10129 non-null  object
 6   sub_grade            10129 non-null  object
 7   annual_inc           10129 non-null  float64
 8   emp_length           10129 non-null  float64
 9   home_ownership       10129 non-null  object
 10  verification_status  10129 non-null  object
 11  dti                  10129 non-null  float64
 12  delinq_2yrs          10129 non-null  float64
 13  inq_last_6mths       10129 non-null  float64
 14  open_acc             10129 non-null  float64
 15  pub_rec              10129 non-null  float64
 16  revol_bal            10129 non-null  float64
 17  revol_util           10129 non-null  float64
 18  total_acc            10129 non-null  float64
 19  purpose              10129 non-null  object
 20  default              10129 non-null  int64
dtypes: float64(14), int64(2), object(5)
memory usage: 1.6+ MB